@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>
        Index</h2>
</div>
@*<div></div>


<div></div>*@
<ul class="nav nav-tabs nav-stacked">
    <li>
        @Html.ActionLink("Show My Info", "ShowInfo")
    </li>
    <li>
        @Html.ActionLink("Show My Dues", "ShowDues")
    </li>
</ul>
