@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h2>@ViewBag.Message</h2>
</div>
<p style="font-family: sans-serif,font-weight">
    @*<img alt="University of Dhaka" src="/Content/images/curzon-hall.jpg"/>*@
    Welcome To University of Dhaka
</p>
